<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../static/css/chatting.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
      integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
      crossorigin="anonymous"
    ></script>
    <!-- 이상 Jquery CDN -->
    <script
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script>
    <!-- 이상 소켓 cdn -->
    <script>
      $(document).ready(
        function(){
        socket.emit('room',"room<%=room_id%>");
        socketEvent();
        console.log("entrySuccess");
        socket.emit('debug',1)
      })
    </script>
  </head>
  <body>   
    <div class="wrap">
      <div class="chatList" id="chatList">
        chatList<br>
        myNick : <input 
        id="sendNick"
        value="<%=me%>"
        type="text" 
        readonly
        style="text-align: center;"
        ><br>
        <!-- <div class="room_list"><a href="/chatting/1">test</a></div> -->
        
      </div>
      <div class="chatBox" id="chatBox">
        chatBox
        <div class="sendBox">
          <input
            class="msgBox"
            id="msgBox"
            placeholder="전송할 내용을 입력해주세요"
            value=""
          />
          <button class="sendBtn" id="sendBtn" onclick="send()">전송</button>
        </div>
      </div>
    </div>
    <script>
      var socket = io.connect();

      console.log(socket);

        socket.on("chat", (data)=>{
          console.log(data);
          let chat_list = document.getElementById("chatList");
          let div = document.createElement("div");
          let div_chatroom = document.createElement("div");

          div.classList.add("chat_room");
          div_chatroom.textContent += data.sendNick + " & " + data.recNick
        })


      function send() {
        console.log($(".msgBox").val());
        var data = {
          sendNick : `<%=me%>`,
          msg: $(".msgBox").val(),
        };
        console.log(data.sendNick);
        socket.emit("send", data);
      }

      function socketEvent() {
        socket.on("newMessage", (data) => {
          let chat_box = document.getElementById("chatBox");
          let div = document.createElement("div");
          let div_chat = document.createElement("div");

          if (data.sendNick == `<%=me%>`) div.classList.add("my-chat");
          else if (data.sendNick != `<%=me%>`) div.classList.add("other-chat");
          div_chat.textContent += data.sendNick + " : " + data.msg;
          div.appendChild(div_chat);
          chat_box.appendChild(div);
        });
      } // 입장 공지
      var sendMsg = document.getElementById("msgBox");

      sendMsg.addEventListener("keyup", function (event) {
        if(event.keyCode === 13 ){
          event.preventDefault();
          document.getElementById("sendBtn").click();
          sendMsg.value = null;
        }
        // else if (event.keyCode === 13 && sendMsg.value == null){
        //   alert("전송할 내용을 입력해주세요");
        // } 
      });


    </script>
  </body>
</html>
